<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TV Show Search</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <h3> Grace Miguel</h3>
    <main>
        {{{body}}}
    </main>
</body>

</html>