<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Tv Shows</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <main>
            {{{body}}}
            <section id="go_back">
                <button id="homeLink" hidden><a href="/">Go Back to All Shows</a></button>
            </section>
        </main>
        
         <footer>
            <h3>Grace Miguel</h3>
        </footer>
        <script src="/ajax.js"></script>

    </body>
</html>